/* sidebar layout & style */
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* logo sitt design */
.logo {
    padding: 1.5rem;
}

.logo h2 {
    margin: 0;
}

.logo .grafisk {
    font-weight: 400;
    color: purple;
}

/* lenker */
.linker ul {
    padding: 1.5rem;
}

.linker li {
    list-style: none;
    margin-bottom: 20px;
}

.linker li a {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.linker li a:hover {
    text-decoration: underline;
}

/* message at the bottom of the sidebar */
.message {
    padding: 1.5rem;
    font-style: 12px;
    font-weight: 500;
    align-self: end;
    justify-self: end;
}

.message p {
    margin: 0;
    padding: 0;
}

.social-icons a {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 12px;
}

.social-icons a:hover {
    color: purple;
}

